body {
    margin: 0;
}

.navbar {
    background-color: #66bfbf;
    color: #eaf6f6;
}

.site-footer {
    background-color: #f1f1f1;
}

#activity {
    height: 250px;
}

.center-carousel {
    display: flex;
    justify-content: center;

    margin: 100px;
}

h1,
h3 {
    font-family: 'Merienda', cursive;
}

#see {
    height: 45px;
}

main {
    background-color: #eaf6f6;
}

h3 {
    color: #66bfbf;
}
