body {
    margin: 0;
    background-color: #fcfefe;
}

.navbar {
    background-color: #66bfbf;
    color: #eaf6f6;
}

.site-footer {
    background-color: #f1f1f1;
}

#activity {
    height: 250px;
}
